<button type="button" (click)="changeLang('en')">English</button>
<button type="button" (click)="changeLang('fr')">Français</button>
<button type="button" (click)="changeLang('es')">Español</button>
<button type="button" (click)="changeLang('pt')">Português</button>
<button type="button" (click)="changeLang('de')">Deutsch</button>
<button type="button" (click)="changeLang('nl')">Nederlands</button>
<br/>
<button type="button" (click)="changeCity('Montcuq')">Montcuq</button>
<button type="button" (click)="changeCity('Anus')">Anus</button>
<button type="button" (click)="changeCity('Belleville')">Le Fion</button>


<p>{{strToPrint}}</p>